version: "3.9"

services:
  relay:
    container_name: relay
    network_mode: "host"
    build: ./
    restart: always
    volumes:
      - ./node-db:/data/db
      - ./node-config:/config
      - ./node-ipc:/ipc
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"

volumes:
  node-db:
  node-ipc:
